<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
	<link rel="icon" href="../../assets/icon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/css/main.css">
	<!-- 延遲載入css -->
	<link rel="stylesheet" href="../../assets/css/mdb.min.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css" media="print" onload="this.media='all'">
	<noscript>
		<link rel="stylesheet" href="../../assets/css/mdb.min.css">
		<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	</noscript>
    <style>
        .swiper-slide:nth-of-type(1) {
			background-image: url('../../assets/img/封面/古蹟巡禮.jpg');
        }
        .swiper-slide:nth-of-type(2) {
			background-image: url('../../assets/img/路線圖/古蹟巡禮.jpg');
        }
        .swiper-slide:nth-of-type(3) {
			background-color: white;
        }
        .swiper-slide:nth-of-type(4) {
			background-color: white;
        }
    </style>
</head>
<body class="theme" id="body">
<div class="swiper phone-frame">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
			<h1 class="ml1">
			  <span class="text-wrapper">
				<span class="line line1"></span>
				<span class="letters">古蹟巡禮</span>
				<span class="line line2"></span>
			  </span>
			</h1>
		</div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide">
			<div style="max-height: 100vh;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 100%;max-width: 80vh;"><img src="../../assets/img/手繪地圖/古蹟巡禮.jpg" width="100%" style="">
				<!-- 福佑宮 -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#福佑宮" style="position: absolute;top: 54%;left: 20%;height: 8%;opacity: 0.1;background-color: black;width: 17%;"></button>
				<!-- 小白宮 -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#小白宮" style="width: 18%;position: absolute;top: 5%;left: 52%;height: 7%;opacity: 0.1;background-color: black;"></button>
			</div>
		</div>
        <div class="swiper-slide">
			<br>
			<h1>詳情介紹</h1>
			<hr>
			<div class="d-grid gap-2 container">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#福佑宮">
				  <h2>福佑宮</h2>
				</button>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#小白宮">
				  <h2>小白宮</h2>
				</button>
			</div>
			<div class="d-grid gap-2 container position-absolute bottom-0">	
				<a href="index.html" type="button" class="btn btn-success m-4">
					<h2>下一個行程</h2>
				</a>
			</div>
		</div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    
    <!-- 如果需要滚动条 -->
    <div class="swiper-scrollbar"></div>
</div>



<!-- 福佑宮 -->
<div class="modal fade" id="福佑宮" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">福佑宮</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<p>　　位於淡水老街的福佑宮，是一座歷史悠久的道教廟宇。它建於清乾隆年間，歷經多次擴建與修復，成為當地居民信仰的重要場所。宮廟建築風格十分典雅，正殿是供奉福佑大帝，廟宇內部擁有精緻的雕刻，展現出優雅的宗教藝術。每年農曆初一，淡水福佑宮都舉辦盛大的迎春祈福活動，吸引眾多信徒和遊客參與，氣氛熱鬧而祥和。此外，宮內常有各類祭典和文化活動，使其成為淡水地區文化交流的中心，也展現了台灣宗教傳統的豐富內涵。
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>
<!-- 小白宮 -->
<div class="modal fade" id="小白宮" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">小白宮</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<p> 　　小白宮為清朝關稅務司的官邸，在英法聯軍開港通商後，供海關官員居住。它是三級古蹟及新北市的市定古蹟。它是西班牙白堊迴廊式的建築。在建築外層為白色，且走廊上有數個拱圈，搭配橘色的屋頂，在建築後方的土地上留有戰爭時所形成的炮坑。而建築內部還保留當時的場景並搭配館內的文字介紹，讓大家可以了解它的歷史。
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>






<script src="../../assets/js/jquery-3.7.1.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/anime.min.js"></script>
<script src="../../assets/js/swiper-bundle.min.js"></script>
<script src="../../assets/js/script.js"></script>
<script src = "../../assets/js/主題.js"></script>
</body>
</html>
