<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
	<link rel="icon" href="../../assets/icon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/css/main.css">
	<!-- 延遲載入css -->
	<link rel="stylesheet" href="../../assets/css/mdb.min.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css" media="print" onload="this.media='all'">
	<noscript>
		<link rel="stylesheet" href="../../assets/css/mdb.min.css">
		<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	</noscript>
    <style>
        .swiper-slide:nth-of-type(1) {
			background-image: url('../../assets/img/封面/書香園地.jpg');
        }
        .swiper-slide:nth-of-type(2) {
			background-image: url('../../assets/img/路線圖/書香園地.jpg');
        }
        .swiper-slide:nth-of-type(3) {
			background-color: white;
        }
        .swiper-slide:nth-of-type(4) {
			background-color: white;
        }
    </style>
</head>
<body class="theme" id="body">
<div class="swiper phone-frame">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
			<h1 class="ml1">
			  <span class="text-wrapper">
				<span class="line line1"></span>
				<span class="letters">書香園地</span>
				<span class="line line2"></span>
			  </span>
			</h1>
		</div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide overflow-auto">
			<div style="max-height: 100vh;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 100%;max-width: 63vh;"><img src="../../assets/img/手繪地圖/書香園地.jpg" width="100%" style="">
				<!-- 八角塔 -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#八角塔" style="position: absolute;top: 58%;left: 62%;height: 7%;opacity: 0.1;background-color: black;width: 21%;"></button>
				<!-- 馬偕墓園 -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#馬偕墓園" style="width: 26%;position: absolute;top: 93%;left: 15%;height: 6%;opacity: 0.1;background-color: black;"></button>
			</div>
		</div>
        <div class="swiper-slide">
			<br>
			<h1>詳情介紹</h1>
			<hr>
			<div class="d-grid gap-2 container">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#八角塔">
				  <h2>八角塔</h2>
				</button>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#馬偕墓園">
				  <h2>馬偕墓園</h2>
				</button>
			</div>
			<div class="d-grid gap-2 container position-absolute" style="bottom:5%;">	
				<a href="index.html" type="button" class="btn btn-success m-4">
					<h2>下一個行程</h2>
				</a>
			</div>
		</div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    
    <!-- 如果需要滚动条 -->
    <div class="swiper-scrollbar"></div>
</div>



<!-- 八角塔 -->
<div class="modal fade" id="八角塔" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">八角塔</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<p>　　1925年完工，淡江中學的象徵，原名「信望愛塔」，由羅虔益先生設計，建築源自南加州理工學院及羅虔益的中學校舍，採用三合院格局。觀音石門楣雕有「信望愛」校訓，日治時改為「私立淡水中學校」，門前植亞力山大椰子樹。興建由馬偕博士之子偕叡廉發起，於1923年動工，1925年竣工。八角塔融合中西風格，被譽為中西合璧建築的瑰寶。淡江中學於1956年合併男女校，八角塔成為學校的精神地標。
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>
<!-- 馬偕墓園 -->
<div class="modal fade" id="馬偕墓園" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">馬偕墓園</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<p>
		　　偕叡理傳教士(Dr. George Leslie MacKay)，就是我們廣為所知的馬偕博士，在1901年6月2日因喉癌病逝於淡水，葬在他深愛的淡水土地上，馬偕墓園位在淡江中學的角落，原為淡水外僑墓園，但依其遺囑用一堵圍牆將其墓與其他洋人的墓隔開，用以表明馬偕為臺灣人。馬偕墓的方位坐東南朝西北，大約對著他所創建的牛津學堂。
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>






<script src="../../assets/js/jquery-3.7.1.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/anime.min.js"></script>
<script src="../../assets/js/swiper-bundle.min.js"></script>
<script src="../../assets/js/script.js"></script>
<script src = "../../assets/js/主題.js"></script>
</body>
</html>
