<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
	<link rel="icon" href="../../assets/icon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/css/main.css">
	<!-- 延遲載入css -->
	<link rel="stylesheet" href="../../assets/css/mdb.min.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css" media="print" onload="this.media='all'">
	<noscript>
		<link rel="stylesheet" href="../../assets/css/mdb.min.css">
		<link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
	</noscript>
	<!-- Web Application -->
	<link rel="canonical" href="https://cattimothy.github.io/Hobe-Fort-Travel/" />
	<link rel="manifest" href="/Hobe-Fort-Travel/manifest.webmanifest">
	<meta name="theme-color" content="#ffffff" />
	<meta name="pwa-capable" content="yes">
    <style>
        .swiper-slide:nth-of-type(1) {
			background-image: url('../../assets/img/封面/與夕陽有約.jpg');
        }
        .swiper-slide:nth-of-type(2) {
			background-image: url('../../assets/img/路線圖/與夕陽有約.jpg');
        }
        .swiper-slide:nth-of-type(3) {
			background-color: white;
        }
        .swiper-slide:nth-of-type(4) {
			background-color: white;
        }
    </style>
</head>
<body class="theme" id="body">
<div class="swiper phone-frame">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
			<h1 class="ml1">
			  <span class="text-wrapper">
				<span class="line line1"></span>
				<span class="letters">與夕陽有約</span>
				<span class="line line2"></span>
			  </span>
			</h1>
		</div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide overflow-auto">
			<div style="max-height: 100vh;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 100%;max-width: 63vh;"><img src="../../assets/img/手繪地圖/與夕陽有約.jpg" width="100%" style="">
				<!-- 淡水文化園區-殼牌倉庫 -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#淡水文化園區-殼牌倉庫" style="position: absolute;top: 26%;left: 74%;height: 9%;opacity: 0.1;background-color: black;width: 10%;/* transform: rotate(345deg); */"></button>
				<!-- 淡水第一漁港 -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#淡水第一漁港" style="width: 39%;position: absolute;top: 73%;left: 3%;height: 6%;opacity: 0.1;background-color: black;transform: rotate(321deg);"></button>
				<!-- 海關碼頭 -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#海關碼頭" style="width: 18%;position: absolute;top: 100%;left: 7%;height: 4%;opacity: 0.1;background-color: black;/* transform: rotate(352deg); */"></button>
				<!-- 淡水老街 -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#淡水老街" style="width: 33%;position: absolute;top: 88%;left: 43%;height: 8%;opacity: 0.1;background-color: black;transform: rotate(33deg);"></button>
			</div>
		</div>
        <div class="swiper-slide">
			<br>
			<h1>詳情介紹</h1>
			<hr>
			<div class="d-grid gap-2 container">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#淡水第一漁港">
				  <h2>淡水第一漁港</h2>
				</button>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#淡水文化園區-殼牌倉庫">
				  <h2>淡水文化園區 殼牌倉庫</h2>
				</button>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#海關碼頭">
				  <h2>海關碼頭</h2>
				</button>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#淡水老街">
				  <h2>淡水老街</h2>
				</button>
			</div>
			<div class="d-grid gap-2 container position-absolute" style="bottom:5%;">	
				<a href="index.html" type="button" class="btn btn-success m-4">
					<h2>下一個行程</h2>
				</a>
			</div>
		</div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    
    <!-- 如果需要滚动条 -->
    <div class="swiper-scrollbar"></div>
</div>



<!-- 淡水第一漁港 -->
<div class="modal fade" id="淡水第一漁港" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">淡水第一漁港</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<p>　　舊稱滬尾漁港、淡水漁港，近期漁港周圍也多了許多特色小商家，像是網美冰店和豬血糕等等，餘暉下的夕陽，搭配這裡唯美的路燈，更使的這裡變的更有氣氛，河堤上也常常坐滿看日落的人潮，當老街逛膩時，這裡絕對會是一個好選擇。
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>
<!-- 淡水文化園區 殼牌倉庫 -->
<div class="modal fade" id="淡水文化園區-殼牌倉庫" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">淡水文化園區 殼牌倉庫</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<p>   　　淡水捷運站後方矗立著歷史悠久的殼牌倉庫。倉庫建於1937年，原本是殼牌石油公司的儲油倉庫，經過多次修復與保育工程，直到今天成為了一座融合歷史與文化的場所。紅磚外牆和獨特的拱形結構展現當時的建築風格，吸引到許多遊客和攝影愛好者。
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>
<!-- 海關碼頭 -->
<div class="modal fade" id="海關碼頭" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">海關碼頭</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<p>   　　淡水海關碼頭位於淡水老街旁，是一個充滿懷舊風情的景點，這座歷史悠久的碼頭建於1882年，曾經是台灣對外貿易的主要據點之一，碼頭的建築風格結合了中西元素，磚牆與木結構交融，呈現出獨特的古典美感。
		</p>
		<p>　　如今，淡水海關碼頭已經轉型成為一個觀光勝地，遊客可以在這裡漫步欣賞海景，品味當地美食，還可以欣賞最美的夕陽。碼頭附近還有許多的商店、咖啡廳和藝廊，形成一個宜人的休閒區域。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>
<!-- 淡水老街 -->
<div class="modal fade" id="淡水老街" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">淡水老街</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<p>   　　淡水老街為淡水長久以來的經濟重心，有許多有名的古蹟都座落於淡水老街周遭，現今淡水老街有許多淡水的特色名產及美食，像是魚酥，鐵蛋，阿給等等。此外還有美麗的河岸風景可供人欣賞，特別是落日的餘暉，是許多觀光客來到淡水必看的景色。
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>







<script src="../../assets/js/jquery-3.7.1.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/anime.min.js"></script>
<script src="../../assets/js/swiper-bundle.min.js"></script>
<script src="../../assets/js/script.js"></script>
<script src = "../../assets/js/主題.js"></script>
</body>
</html>
